{
    "solana_rpc": "",
    "solana_rpc_with_metaplex_das_api": "",
    "swap_api": "https://gmgn.ai",
    "listen_port": 8888,
    "sell_min_usdt": 30,
    "buy_max_usdt": 1000,
    "db_name": "db_follow",
    "db_host": "39.107.125.196",
    "db_port": 5432,
    "db_username": "myuser",
    "db_passwd": "mypasswd",
    "pri_key": "",
    "is_simulation": true,
    "timer_interval_ms": 1000,
    "monitor_interval_ms": 1000
}